body {
  font-family: sans-serif;
  margin: 2rem;
  background: #3a3a3a;
}

:root {
  background: #3a3a3a;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.daw-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

app-sequencer,
app-player {
  width: 100%;
  box-sizing: border-box;
}
