.sequencer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background: #181818;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.track-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.track-label {
  width: 120px;
  color: #aaa;
  font-weight: 500;
  text-align: right;
  font-size: 0.95rem;
}

.steps {
  display: grid;
  grid-template-columns: repeat(16, 32px);
  gap: 10px;
}

.step {
  width: 32px;
  height: 32px;

  background: #272727;
  border-radius: 8px;

  cursor: pointer;

  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.06),
    0 3px 8px rgba(0, 0, 0, 0.6);

  transition:
    transform 0.12s ease,
    box-shadow 0.12s ease,
    background 0.12s ease;
}

.step:hover {
  transform: scale(1.12);
  background: #2f2f2f;
}


.step.active {
  background: #466161;
  box-shadow: 0 0 6px rgba(96, 120, 136, 0.7);
}

.step.playing {
  outline: 2px solid #1d4e4a;
  outline-offset: 2px;
}

select {
  appearance: none;

  min-width: 150px;
  padding: 8px 36px 8px 12px;

  background: #272727;
  color: #fff;

  border-radius: 10px;
  border: none;

  font-weight: 500;
  font-size: 0.9rem;

  cursor: pointer;

  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.5);

  transition: all 0.2s ease;
}

/* hover */
select:hover {
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.15),
    0 4px 14px rgba(22, 197, 183, 0.4);
}

/* focus */
select:focus {
  outline: none;
  box-shadow:
    inset 0 0 0 1px rgba(22, 197, 183, 0.8),
    0 0 0 2px rgba(22, 197, 183, 0.25);
}
